<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dashboard Admin</title>
</head>
<body>
    <h1>Tableau de bord Administrateur</h1>

    <nav>
        <ul>
            <li><a th:href="@{/admin/validation}">Page de validation</a></li>
            <li><a th:href="@{/admin/livre/creation}">Créer un livre</a></li>
            <li><a th:href="@{/admin/exemplaire/creation}">Créer un exemplaire</a></li>
            <li><a th:href="@{/admin/exemplaire}">Voir tous les exemplaires</a>
</li>
        </ul>
    </nav>

    <hr/>

    <p>Bienvenue sur votre tableau de bord !</p>
    
</body>
</html>
