<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Livres</title>
</head>
<body>
    <h1>Liste des Livres</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>ISBN</th>
            <th>Langue</th>
            <th>Résumé</th>
            <th>Mots Clés</th>
            <th>Classification</th>
        </tr>
        <tr th:each="livre : ${livres}">
            <td th:text="${livre.id}"></td>
            <td th:text="${livre.titre}"></td>
            <td th:text="${livre.auteur}"></td>
            <td th:text="${livre.isbn}"></td>
            <td th:text="${livre.langue}"></td>
            <td th:text="${livre.resume}"></td>
            <td th:text="${livre.motsCles}"></td>
            <td th:text="${livre.classification}"></td>
        </tr>
    </table>
</body>
</html>
