<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Formulaire de prêt</title>
</head>
<body>
    <h1>Créer un prêt</h1>

    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>

    <div th:if="${param.success}">
        <p style="color: green;">Prêt créé avec succès !</p>
    </div>

    <form th:action="@{/prets}" method="post">
        <label for="idAdherent">Adhérent :</label>
        <select id="idAdherent" name="idAdherent" required>
            <option th:each="a : ${adherents}" 
        th:value="${a.idAdherent}" 
        th:text="${a.profil.nom}">Adhérent</option>


        </select>
        <br/>

        <label for="idExemplaire">Exemplaire :</label>
        <select id="idExemplaire" name="idExemplaire" required>
            <option th:each="e : ${exemplaires}" 
                    th:value="${e.idExemplaire}" 
                    th:text="|${e.livre.titre} - ${e.codeBarre}|">Exemplaire</option>
        </select>
        <br/>

        <label for="typeLecture">Type de lecture :</label>
        <select id="typeLecture" name="typeLecture" required>
            <option value="domicile">Domicile</option>
            <option value="sur_place">Sur place</option>
        </select>
        <br/>

        <button type="submit">Emprunter</button>
    </form>
</body>
</html>
